.venv/*
.idea/*
data_build_tools/dbt/creds
logs/
airflow/logs
spark/logs
minio-data/
**/__pycache__/
data_build_tools/dbt/dbt_packages 
data_build_tools/dbt/target
data_build_tools/dbt/.user.yml
data_build_tools/dbt/package-lock.yml